#footerStyle {
  color: #602874;
  background-color: #e2d1e8;
}

#footerStyle {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

#footerStyle {
  margin-top: 10px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

#footerStyle {
  margin-top: 3px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}