.fullscreen-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 99999999999999999999999999; */
  background-color: #ffffff;
  color: red;
  /* 其他樣式設定 */
}
.video-container {
  position: relative;
}

.video-js {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  z-index: 9999;
}
.video-js .vjs-fullscreen-control {
  display: none;
}

.vjs-icon-fullscreen-enter{
  font-size: 1.8em;
  line-height: 1.67;
}

.vjs-icon-fullscreen-exit{
  font-size: 1.8em;
  line-height: 1.67;
}
